@page "/hmrc-success"

<PageTitle>
    Authorisation Successful!
</PageTitle>
<meta http-equiv="refresh" content="2; url=dashboard" />
<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-5 d-flex p-3">
            <RadzenImage Path="/images/hmrc2.png" style="width: 100%"></RadzenImage>
        </div>
        <div class="col-xl-7 p-3">
            <RadzenCard class="p-5 w-100 align-items-center">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Authorisation Successful!
                    <br>Let's take you to your workspace
                </RadzenText>
                <span class="rz-color-series-4">Redirected in 2 seconds.</span>

            </RadzenCard>
        </div>
    </div>
</div>
