@page "/"

<PageTitle>Home</PageTitle>
<div class="row">
	<div class="col-md-5">
		<RadzenImage Path="/images/home.png" style="width: 100%"></RadzenImage>
	</div>
	<div class="col-md-7">
		<video src="/videos/home.mp4" autoplay style="width: 100%;"></video>
	</div>
</div>
<div class="d-flex justify-content-end mb-2">
	<div class="rz-background-color-warning-lighter " style="width: 200px; text-align: center; float: none; border-radius: 5px; padding: 5px">
		<span class="rz-color-warning-dark">How may I help?</span>
	</div>
</div>
<RadzenLink Path="faq">
	<RadzenImage Path="/images/faq.png" Style="width: 50px; float: right">
	</RadzenImage>
</RadzenLink>


