@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout style="background: url('images/login.jpg'); background-size: cover;">
	<RadzenBody>
		<div class="container" style="height: 100%">
			<div class="row align-items-center " style="height: 100%">
				<div class="col-12 py-3">
					<RadzenCard class="rz-shadow-5 rz-border-radius-4" style="padding: 0; overflow: hidden">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6 rz-background-color-primary p-5 position-relative" style="background-image: radial-gradient(circle at 4rem 4rem, var(--rz-primary-light) 0%, var(--rz-primary) 50%, var(--rz-primary-darker) 80%);">
									<RadzenImage Path="/images/logo.png" style="width: 60px"></RadzenImage>
									<RadzenText Text="SimplyMTD" TextStyle="Radzen.Blazor.TextStyle.H2" class="mt-3 mt-md-5 pt-0 pt-md-5 mb-4 rz-color-white d-none d-sm-block" />
									<RadzenText TextStyle="Radzen.Blazor.TextStyle.Body1" class="mb-5 pb-0 pb-md-5 rz-color-white d-none d-sm-block">
										Fill in your login credentials to proceed.
									</RadzenText>
								</div>
								<div class="col-12 col-md-6 p-5">
									@Body
								</div>
							</div>
						</div>
					</RadzenCard>
					<RadzenText Text="SimplyMTD v.1.0.0, Copyright Ⓒ 2023" TextStyle="Radzen.Blazor.TextStyle.Caption" TextAlign="Radzen.TextAlign.Center" Style="width: 100%; margin-top: 20px" TagName="Radzen.Blazor.TagName.P" />
				</div>
			</div>
		</div>
	</RadzenBody>
</RadzenLayout>
